Project Unity/Projet_simulation/Temp/
Project Unity/Projet_simulation/Library/
Project Unity/Projet_simulation/ProjectSettings/ProjectVersion.txt
Project Unity/ProjectBuroscope_Dav/Library/
Project Unity/ProjectBuroscope_Dav/Temp/
Project Unity/ProjectBuroscope_Dav/ProjectSettings/ProjectVersion.txt
Build Unity/player_win_x86.pdb
Build Unity/player_win_x86_s.pdb
Projects Unity/ProjectBuroscope_Dav/Temp/
