Projects Unity/Projet_simulation/Temp/
Projects Unity/Projet_simulation/Library/
Projects Unity/Projet_simulation/ProjectSettings/ProjectVersion.txt
Projects Unity/ProjectBuroscope_Dav/Library/
Projects Unity/ProjectBuroscope_Dav/Temp/
Projects Unity/ProjectBuroscope_Dav/ProjectSettings/ProjectVersion.txt
Builds Unity/player_win_x86.pdb
Builds Unity/player_win_x86_s.pdb
Projects Unity/ProjectBuroscope_Dav/Temp/
Project Unity/ProjectBuroscope_Dav/Library/
Projects Unity/ProjectBuroscope_Dav/Library/
Builds Unity/Project Buroscope a 1.2_Data/output_log.txt
Projects Unity/ProjectBuroscope_Dav/ProjectBuroscope_Dav.CSharp.csproj
Builds Unity/
Projects Unity/ProjectBuroscope_Dav/Files/*.save
